/node_modules/

/sampleDir/


/test/
.editorconfig
.gitattributes
.gitignore
.jshintrc
.npmignore
.travis.yml
*.njsproj
*.sln


*.swp
*~

# WebMatrix automatically adds this Robots.txt file (booo)
Robots.txt

# WebMatrix throws this in there sometimes
web.config

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log


.DS_Store
*.suo


